<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Computacion Cientifica</title>

<link href="../static/bootstrap/docs/dist/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/styles.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/katex.min.css">
<link rel="stylesheet" href="../static/css/jquery-ui.css">
<!--<link href="../static/bootstrap/dist/css/bootstrap-slider.css" rel="stylesheet">-->
<!-- <link rel="stylesheet" href="../static/css/font-awesome.css"/> -->
<!-- <link rel="stylesheet" href="../static/css/build.css"/> -->
<script src="../static/js/jquery-1.11.2.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<!--<script src="../static/js/grafica.js"></script>-->
<!--<link href="../static/bootstrap/dist/js/bootstrap-slider.js" rel="stylesheet">-->
<script src="../static/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="../static/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="../static/js/lumino.glyphs.js"></script>
<script src="../static/js/katex.min.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<script>
$( function() {
	$( "#slider" ).slider();
} );
</script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><span>Modelo matemático Genetico-Ambiental de la Obesidad</span></a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
							<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<br>
		<ul class="nav menu">
			<li class="active"><a href="/">Proyecto</a>
      </li>
      <li class=""><a href="/examen">Modelo</a>
      </li>
		</ul>
		<br>
		<img src="../static/img/imagen01.png" border="0" width="230" height="450">
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Proyecto</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-6">
				<h1 class="page-header">Simulación</h1>
				<!--<div id="slider"></div>-->
				<!--<input id="ex9" type="text"/>-->
			</div>
			<div class="col-log-6">
				<img src="../static/img/SM.png" border="0" width="80" height="100">
			</div>
		</div><!--/.row-->


		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading" id="accordion"><h2>Características</h2>
          </div>

					<div class="panel-body">
						 <ul>
						   <li><h3>Método numérico utilizado fue RK4.</h3></li>
							 <li><h3>Este programa está desarrollado en Python.</h3></li>
							 <li><h3>Interfaz está hecho en HTML y JQuery</h3></li>
						 </ul>
					</div>

					<div class="panel-footer">
						  <p>&copy; UNMSM 2018</p>
					</div>

				</div>
			</div><!--/.col-->
		</div><!--/.row-->

<!------------------>
	</div>	<!--/.main-->

</body>

</html>
